@import "tailwindcss";

:root {
  --font-cabin: 'Cabin', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--font-cabin), sans-serif;
  color: #54585a;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}
